{
  "option_settings": [
    {
      "option_name": "NODE_ENV", 
      "value": "production"
    },
    {
      "option_name": "TBT_CONSUMER_SECRET_KEY", 
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "TBT_CONSUMER_KEY", 
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "TBT_ACCESS_TOKEN", 
      "value": "PLACEHOLDER"
    },
    {
      "option_name": "TBT_ACCESS_TOKEN_SECRET", 
      "value": "PLACEHOLDER"
    }
  ]
}